<html>

<body>
    <h1>Routing --ALL</h1>
    <div class="container">
        <div class="">
            <button type="button" class="btn btn-primary" routerLink="/" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a >Home</a>
            </button>
            <button type="button" class="btn btn-primary" routerLink="servers" role="presentation" routerLinkActive="active">
                <a >Servers</a>
            </button>
            <button type="button" class="btn btn-primary" [routerLink]="['users']" role="presentation" routerLinkActive="active">
                <a >Users</a>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
    <br>
    <hr>
    <h1>NGStyle & NGClass</h1>
    <div class="container">
        <h2 [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{online: serverStatus === 'online'}">
            {{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}
        </h2>
    </div>
    <br>
    <hr>
    <h1>Directives</h1>
    <div class="container">
        <div class="">
            <hr>
            <!--<button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>-->
            <button type="button" class="btn btn-primary" (click)="onToggleDetails()">Display Details</button> <br> #toggling item
            <p *ngIf="showSecret">Secret Password = tuna</p>
            <hr><br> #ngFor Directives
            <div *ngFor="let logItem of log; let i = index" [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}" [ngClass]="{'white-text': i >= 4}">{{ logItem }}</div>
        </div>
    </div>

    <br>
    <hr>
    <h1>Date and Event Binding</h1>
    <div class="container">
        <div class="">
            <label>Server Name</label>
            <input type="text" class="form-control" (input)="onUpdateServerName($event)">
            <input type="text" class="form-control" [(ngModel)]="serverName">
            <p>{{ serverName }}</p>
            <button type="button" class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
            <p [innerText]="allowNewServer"></p>
            <p>{{ serverCreationStatus }}</p>
            <!-- <app-server></app-server>
            <app-server></app-server> -->
        </div>
    </div>
    <br>
    <hr>
    <h1>Template Forms</h1>
    <div class="container">
        <div class="">
            <app-template-forms></app-template-forms>
        </div>
    </div>
    <br>
    <hr>
    <h1>Reactive Forms</h1>
    <div class="container">
        <div class="">
            <app-reactive-forms></app-reactive-forms>
        </div>
    </div>

</body>

</html>